.ItemSearch {
    display: flex;
    padding: 10px;
    align-items: flex-start;
}

.ItemSearch-button {
    margin: 5px;
    padding: 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
