#App {
    background-color: black;
}

#App-header {
    color: white;
    background-color: #282c34;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

#App-main {
    background: #282c34;
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    margin: 10px;
    overflow-y: scroll;
    padding: 10px;
    min-height: 100vh;
    justify-content: center;
}
