#items-container {
    display: flex;
    flex-direction: column;
}

.item-container {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 120px;
    gap: 70px;
}

.item-image img {
    height: 100%;
}

.item-text {
    margin: 0;
    width: 100%;
}

.item-text p {
    margin: 0;
    height: 20px;
    width: 100%;
}

.item-recipe {
    margin: 10px 0px 10px 0px;
}
